@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
  font-family: 'Poppins';
  font-weight: bold;
}

/* NAVBAR */
.navbar-grad {
  background: linear-gradient(90deg, #ecf3fe 0%, #d1e2f0 100%);
}
@media screen and (max-width: 480px) {
  .nav-brand-layout {
    background: linear-gradient(90.71deg, #73e0a9 0%, #5b68df 100%);
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0.6rem 2rem;
    color: white !important;
    font-size: small;
    font-weight: 500;
    border-radius: 30px;
  }
}
@media screen and (min-width: 480px) {
  .nav-brand-layout {
    background: linear-gradient(90.71deg, #73e0a9 0%, #5b68df 100%);
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0.6rem 2.4rem;
    color: white !important;
    font-weight: 500;
    border-radius: 30px;
  }
}

.gradient-box{
  background: linear-gradient(90.71deg, #73e0a9 0%, #5b68df 100%);
  border-radius: 20px;
  margin-right: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-decoration: none;
  justify-content: center;
  color: white !important;
  border:none !important;
}

.gradient-box-outline{
  border: solid 1px #5b68df;
  border-radius: 20px;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  justify-content: center;
  color: black;
}
@media screen and (max-width: 768px) {
  .gradient-box-outline{
  display:flex;
  border: solid 1px #5b68df;
  border-radius: 20px;
  margin-right: 1rem;
  padding: 0.5rem 0;
  margin:0;
  text-decoration: none;
  justify-content: center;
  color: black;
  width:auto;
}
}
.nav-item
{
	text-align:center;
	width:100%;
}
/* BODY */

@media screen and (max-width: 768px) {
  .img-resp {
    display: flex;
    width: 90vw;
    height: 50vh;
    object-fit: contain;
  }
}

@media screen and (min-width: 768px) {
  .img-resp {
    display: flex;
    width: 40vw;
    height: 100vh;
    object-fit: contain;
  }
}

.background-img {
  background: url("../images/home-bg2.png");
  background-position: center;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}

.stars-bg {
  background: url("../images/stars-below.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cent {
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: start;
}

.heading {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 900;
}

.sub-heading {
  font-size: 2rem;
  line-height: 2rem;
}

.dates-layout {
  background: linear-gradient(90.71deg, #73e0a9 0%, #5b68df 100%);
  border-radius: 2rem;
  justify-content: center;
  margin-top: 3rem;
  align-items: center;
  padding: 0.6rem 2.4rem;
  color: white !important;
  font-weight: 500;
  font-size: larger;
  border-radius: 30px;
}

.prelude-content {
  font-size: 1rem;
  padding-top: 1rem;
}

.agenda-layout {
  background: linear-gradient(90.71deg, #73e0a9 0%, #5b68df 100%);
  max-width: fit-content;
  padding: 1rem 3rem;
  color: white !important;
  font-weight: 500;
  font-size: 1rem;
  margin-right: 3rem;
  border-radius: 2rem;
}

@media screen and (max-width: 768px) {
  .agendaBlock {
    height: 12rem;
    width: 90vw;
    color: white;
    border-radius: 1rem;
    padding: 2rem;
  }
  .agenda-img-resp {
    width: 90vw;
  }
}
@media screen and (min-width: 768px) {
  .agendaBlock {
    height: 10rem;
    font-size: 1rem;
    width: 40vw;
    color: white;
    border-radius: 1rem;
    padding: 2rem;
  }
  .agenda-img-resp {
    width: 50vw;
  }
}
/* Team */
body {
  background: linear-gradient(to right, #d8f3ee, #d6e8f2, #d3dcf9);
}

.team-head-ad {
  position: relative;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 2rem;
}

.team-head-ad h1 {
  font-size: 44px;
}

.team-head-ad h1:after {
  content: "";
  background: linear-gradient(90.71deg, #73e0a9 0%, #5b68df 100%);
  width: 280px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.team-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bolder;
}

#o-select {
  background: #5d6fdd;
  color: white;
}

.selecting-ad {
  font-size: 1rem;
  border-radius: 10px;
  border: solid #5b68df;
  border-width: 0.1rem;
  margin-bottom: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 4rem;
}

.ROW {
  display: flex;
  justify-content: center;
}

.col-abcd {
  background-color: rgba(255, 255, 255, 0.436);
  border-radius: 0.6em;
  margin: 1rem 1rem;
  box-shadow: 1px 2px 4px rgba(55, 54, 54, 0.577);
}

.col-abcd img {
  width: 10rem;
  height: 10rem;
  margin: 0.5rem;
  object-fit: cover;
  border-radius: 50%;

  border: 0.1em solid #5b68df;
}

.col-abcd p {
  text-align: center;
  font-size: 0.7em;
  font-family: "Josefin Sans", sans-serif;
  word-wrap: break-word;
  margin: 0.5em 0.5em;
}

.card-custom-ad .card-body {
  text-align: center;
}
.card-custom-ad img {
  border-radius: 50%;
  border: 0.1em solid #5b68df;
}
.card-custom-ad {
  background-color: rgba(255, 255, 255, 0.436);
  border-radius: 0.6em;
  box-shadow: 1px 2px 4px rgba(55, 54, 54, 0.577);
}

@media screen and (max-width: 425px) {
  .card-body h5 {
    font-size: 10px;
  }
  .card-body {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin: 0;
  }
}

@media screen and (max-width: 460px) {
    #team img{
      width: 30vw;
    }
    .card{
      align-items: center;
      justify-content: center;
    }
}