body {
  background: linear-gradient(to right, #d8f3ee, #d6e8f2, #d3dcf9);
}

.team-head-ad {
  position: relative;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 2rem;
}

.team-head-ad h1 {
  font-size: 50px;
}

.team-head-ad h1:after {
  content: "";
  background: linear-gradient(90.71deg, #73e0a9 0%, #5b68df 100%);
  width: 350px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
#o-select {
  background: #5d6fdd;
  color: white;
}
#h-content {
  display: none;
}
#w-content {
  display: none;
}
#m-content {
  display: none;
}
#t-content {
  display: none;
}
#mc-content {
  display: none;
}
#p-content {
  display: none;
}
#d-content {
  display: none;
}

.selecting-ad {
  font-size: 1rem;
  border-radius: 10px;
  border: solid #5b68df;
  border-width: 0.1rem;
  margin-bottom: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 4rem;
}

.ROW {
  display: flex;
  justify-content: center;
}

.col-abcd {
  background-color: rgba(255, 255, 255, 0.436);
  border-radius: 0.6em;
  margin: 1rem 1rem;
  box-shadow: 1px 2px 4px rgba(55, 54, 54, 0.577);
}

.col-abcd img {
  width: 10rem;
  height: 10rem;
  margin: 0.5rem;
  object-fit: cover;
  border-radius: 50%;

  border: 0.1em solid #5b68df;
}

.col-abcd p {
  text-align: center;
  font-size: 0.7em;
  font-family: "Josefin Sans", sans-serif;
  word-wrap: break-word;
  margin: 0.5em 0.5em;
}

.card-custom-ad .card-body {
  text-align: center;
}
.card-custom-ad img {
  border-radius: 50%;
  border: 0.1em solid #5b68df;
}
.card-custom-ad {
  background-color: rgba(255, 255, 255, 0.436);
  border-radius: 0.6em;
  box-shadow: 1px 2px 4px rgba(55, 54, 54, 0.577);
}

@media screen and (max-width: 425px) {
  .card-body h5 {
    font-size: 10px;
  }
  .card-body {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin: 0;
  }
}
